$item-size: 120px;
$item-x-color: #1976d2;
$item-o-color: #fbc02d;
$item-focus-color: #3a3e46;

.board-item-btn {
  align-items: center;
  height: $item-size;
  width: $item-size;
  border: solid 2px white;
  display: flex;
  justify-content: center;
  position: relative;
  cursor: pointer;
  background-color: transparent;

  &:focus {
    outline: 0;
    background-color: $item-focus-color;
  }
}

.board-item-btn:first-child,
.board-item-btn:nth-child(2),
.board-item-btn:nth-child(3) {
  border-top: none;
}

.board-item-btn:nth-child(3n + 1) {
  border-left: none;
}

.board-item-btn:nth-child(3n + 3) {
  border-right: none;
}

.board-item-btn:last-child,
.board-item-btn:nth-child(8),
.board-item-btn:nth-child(7) {
  border-bottom: none;
}

// Markers
.board-item-btn.isSelected {
  cursor: not-allowed;
}

.board-item-btn.x::before,
.board-item-btn.x::after {
  background-color: $item-x-color;
}

.board-item-btn.o::before,
.board-item-btn.o::after {
  background-color: $item-o-color;
}

.board.x .board-item-btn:not(.isSelected):hover::before,
.board.x .board-item-btn:not(.isSelected):hover::after,
.board.o .board-item-btn:not(.isSelected):hover::before,
.board.o .board-item-btn:not(.isSelected):hover::after {
  background-color: #d3d3d3;
}

.board-item-btn.x::before,
.board-item-btn.x::after,
.board.x .board-item-btn:not(.isSelected):hover::before,
.board.x .board-item-btn:not(.isSelected):hover::after {
  content: '';
  height: $item-size;
  position: absolute;
  width: $item-size * 0.15;
}

.board-item-btn.x::before,
.board.x .board-item-btn:not(.isSelected):hover::before {
  transform: rotate(45deg);
}

.board-item-btn.x::after,
.board.x .board-item-btn:not(.isSelected):hover::after {
  transform: rotate(-45deg);
}

/* o marker */
.board-item-btn.o::before,
.board-item-btn.o::after,
.board.o .board-item-btn:not(.isSelected):hover::before,
.board.o .board-item-btn:not(.isSelected):hover::after {
  content: '';
  width: $item-size * 0.8;
  height: $item-size * 0.8;
  border-radius: 50%;
  position: absolute;
}

.board-item-btn.o::after,
.board.o .board-item-btn:not(.isSelected):hover::after {
  width: $item-size * 0.6;
  height: $item-size * 0.6;
  background-color: #282c34;
}
