.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  button {
    background: #1976d2;
    border-color: #1976d2;
    font-weight: bold;
    color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 1.25rem;

    &:hover {
      cursor: pointer;
      opacity: 0.85;
    }
  }
}
